# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Data and Models
data/
datasets/
!datasets/.keep
models/*.pth
models/*.pkl
models/*.json

# IDEs
.vscode/
.idea/

# macOS
.DS_Store
models/
.venv/
__pycache__/
*.nc
