# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Data and Models
data/
models/*.pth
models/*.pkl
models/*.json

# IDEs
.vscode/
.idea/

# macOS
.DS_Store
